html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica; }

#sequence-display {
  width: 504px;
  margin: 0 auto; }
  #sequence-display .channel {
    position: relative;
    margin-bottom: 5px;
    min-height: 50px; }
    #sequence-display .channel input {
      margin-top: 20px;
      clear: left;
      float: left;
      max-width: 50px;
      text-align: center;
      margin-right: 5px; }
    #sequence-display .channel .sequence {
      float: left;
      display: inline-block; }
      #sequence-display .channel .sequence .step {
        display: inline-block;
        margin-right: 5px;
        width: 50px;
        height: 50px;
        background-color: #f00; }
        #sequence-display .channel .sequence .step.active {
          background-color: #0f0; }
