mixin channel(channel, sequence)
  tr.channel
    td= channel
    td
      input(value=440).frequency
    - each val, index in sequence
      td.channel-= index + ":" + val

table#sequence-display
  tr
    th Channel
    th Frequency
    th 1
    th 2
    th 3
    th 4
    th 5
    th 6
    th 7
    th 8
  +channel(0, [1, 0, 1, 0, 1, 0, 1, 0])
  +channel(1, [0, 1, 0, 1, 0, 1, 0, 0])
  +channel(2, [0, 0, 1, 0, 0, 0, 1, 0])

div#test
