div#sequence-display

h2 Instructions

p.
  Each row represents a channel. The frequency of the channel is on the left, and the blocks represent if the tune should play.

p.
  Press play and click the blocks on and off to make your own tunes.
